ul li{
  list-style: none;  margin:0; padding:0;
}
body :global(.ant-menu-sub.ant-menu-inline) {
  background-color: #1d233d;
}
body :global(.ant-menu-submenu .ant-menu) {
  background-color: #1d233d;
}
.leftSiderStyle, .menuStyle, .subMenuStyle{
  background-color: #1d233d;
}
.menuLeafStyle, .menuParentStyle{
  color: #aab1cb;
  font-size: 13px;
}
.headerStyle{
  background-color: #f5f7fa;
  color: #333;
  border-bottom: 1px solid #d9d9d9;
  height: 50px;
  text-align: left;
  line-height: 49px;
  font-size: 20px;
  font-weight: bold;}
.headerTitle{margin: 0;padding: 0;padding-left: 34px;font-size: 20px;color: #393534;font-weight: 700;}
